useDynLib(CWRpackage, .registration=TRUE)

export(naive_pattern_matching)
export(naive_pattern_matching_Rcpp)

export(aho_corasick)
export(aho_corasick_Rcpp)

importFrom(Rcpp, evalCpp)
import(stringr)

