useDynLib(CWRpackage, .registration=TRUE)

export(naive_pattern_matching)
export(naive_pattern_matching_Rcpp)

export(commentz_walter)

export(commentz_walter_cpp)

importFrom(Rcpp, evalCpp)
import(stringr)

